.create-modal {
    .text-majesti {
        color: rgb(203, 203, 203);
        transition: 0.5s ease-in-out;
          text-shadow: 
                     12px 12px 1px #949494, 
                     12px 12px 1px #3f3f3f; 
          &:hover {
            transition: 0.5s ease-in-out;
            text-shadow: 
            8px 1px 1px #808080,
            15px 1px 1px #555555;      
          }
    }

    .button-nft {
            background-color: green;
			font-weight: 600;
			border: solid 1px green;
			color: rgb(255, 255, 255);
			&:hover {
				background-color: rgba(255, 255, 255, 0);
				transition: 0.25s ease-in-out;
				color: rgb(255, 255, 255);
			}
    }

    .button-auction {
        background-color: rgb(116, 24, 24);
        font-weight: 600;
        border: solid 1px rgb(105, 14, 14);
        color: rgb(255, 255, 255);
        &:hover {
            background-color: rgba(255, 255, 255, 0);
            transition: 0.25s ease-in-out;
            color: rgb(255, 255, 255);
        }

    }

    .modal-content {
        border: solid 1px rgb(167, 167, 167);
        border-radius: 2px;
        background-color: #161616 !important;
        color: white;
    }
    .create-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.modal-content, .modal-card {
    overflow: hidden;
}