.footer {
  .footerImage {
    position: absolute;
    bottom: 50px !important; 
    right: 0;
    z-index: 0;
  }
  // background: #c75f67!important;
  margin: 0px 0px 20px 0px;
  position: relative;
  // margin-top: 300px;
  /* negative value of footer height */
  height: 140px;
  clear: both;
	background-color: #161616 !important;


  .footer-nav {
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    color: white;
    background-color: transparent;
    .footer-logo {
      margin-top: 4px;
    }
  }

  .social-icons {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin-left: -15px;
    margin-bottom: -30px;

    button {
      margin-bottom: 10px;
      color: rgb(255, 255, 255);
    }
  }
    
}



