.nav-container {
	display: flex;
	background-color: #161616 !important;
	margin: 3% 5% 3% 6%;
	.nav-links {
		font-size: 1.55em;
	}
	.profile-toggle {
		background-color: transparent;
		color: transparent;
		border: transparent;
		display: inline-block;
	}
	.connect-button {
		border-color: white;
		padding-top: 5px;
		font-weight: 600;
		color: white;
		&:hover {
			background: white;
			color: black;
			border-color: white;
		}
	}

	.fa-plus {
		color: rgba(255, 255, 255, 0.808);
		font-size: 1.5em;
		&:hover {
			color: white;
		}
	}

	.fa-house {
		color: rgba(255, 255, 255, 0.74);
		font-size: 1.5em;
		&:hover {
			color: white;
		}
	}

	.profile-nav-container {
		display: flex;
		align-items: baseline;
		justify-content:flex-end;
		margin-bottom: 10px;
		.profile-link-nav {
			padding: 0px;
			margin: 0px;
			.profile-link-image {
				max-height: 50px;
				object-fit: cover;
				width: auto;
				box-shadow: rgba(126, 132, 138, 0.2) 0px 8px 24px;
				border-radius: 2px;
				transition: .35s ease-in-out;
				&:hover {
					box-shadow: rgba(126, 132, 138, 0.653) 1px 1px 3px;
					transition: .35s ease-in-out;
				}
			}
		}
		.profile-settings-nav {
			background-color: transparent;
		}
		.dropdown-toggle::after {
			color: transparent;
			display: none;
		}
	}
}
