.nav-container {
	display: flex;
	background-color: #1a1a1a !important;
	margin: 50px 100px 30px 100px;
	align-items: center;

	.regal-brand {
		.r-text {
			font-size: 45px;
			font-family: $primary-font;
		}
	}
	.nav-links {
		font-size: 1.55em;
		.nav-link {
		}
	}

	.connect-button {
		border-color: white;
		color: white;
		&:hover {
			background: white;
			color: black;
			border-color: white;
		}
	}

	.create-button {
			border-color: white;
			color: white;
			&:hover {
				background: white;
				color: black;
				border-color: white;
			}
	}
	.profile-nav-container {
		display: flex;
		align-items: flex-end;
		margin-bottom: 10px;
		.profile-link-nav {
			padding: 0px;
			margin: 0px;
			// display: flex;
			// align-items: center;
			.profile-link-image {
				max-height: 40px;
				object-fit: cover;
				width: auto;
			}
		}
	}
}