.nav-container {
	display: flex;
	background-color: #161616 !important;
	margin: 50px 60px 20px 60px;
	justify-content:space-between;
	align-items: flex-end;

	.nav-links {
		font-size: 1.55em;
	}

	.connect-button {
		border-color: white;
		padding-top: 5px;
		font-weight: 600;
		color: white;
		&:hover {
			background: white;
			color: black;
			border-color: white;
		}
	}

	.create-button {
			padding-top: 3px;
			padding-bottom: 3px;
			border-color: white;
			font-weight: 600;
			color: white;
			&:hover {
				background: white;
				color: black;
				border-color: white;
			}
	}
	.profile-nav-container {
		display: flex;
		align-items: flex-end;
		margin-bottom: 10px;
		.profile-link-nav {
			padding: 0px;
			margin: 0px;
			// display: flex;
			// align-items: center;
			.profile-link-image {
				max-height: 50px;
				object-fit: cover;
				width: auto;
			}
		}
	}
}