// ** NFT DISPLAY PAGE STYLING ** //

// ** NFT DISPLAY CONTAINER THAT IS MAPPED ON DISPLAY PAGES LIKE EXPLORE ** //
.nft-display-container {
	// ** 1/2 DETAILS AND LIKES DIV LINKING TO DETAIL PAGE AND MANAGING USER LIKES/INTERACTIONS ** //
	.details-likes-div {
		position: absolute;
		bottom: 3px;
		right: 8px;
		z-index: 99;
		// ** DETAILS BUTTON ** //
		.details-button {
			font-size: 1.2em !important;
			padding: 8px 12px 8px 12px;
			font-size: 1.15em;
			background-color: black !important;
			color: white !important;
			border-color: white !important;
			transition: 0.35s ease-in-out !important;
			&:hover {
				background-color: white !important;
				color: black !important;
				transition: 0.35s ease-in-out !important;
			}
		}
		// ** LIKE BUTTON HEART ** //
		.like-button {
			border: solid 1px white;
			// border-radius: 10px;
			padding: 6px 12px 4px 12px;
			&:hover {
				border: 1px solid white !important;
				color: black;
				background-color: white;
				transition: 0.35s ease-in-out !important;
			}
		}
	}
	// ** 2/2 DIV THAT CONTAINS THE ENTIRE NFT DETAILS + IMAGE DATA AND OVERLAY TEXT ** //
	.nft-display {
		border-radius: 2px;
		background-color: black;
		padding-bottom: 100%;
		border-radius: 2px;
		// ** IMAGE OVERLAY TRANSITION STYLING ** //
		&:hover {
			.image-overlay {
				opacity: 100%;
				transition: 0.35s ease-in-out;
			}
			.explore-card-image {
				opacity: 12%;
				transition: 0.3s ease-in-out;
			}
		}
		// ** THE HEART SVG HTML IMAGE THAT IS CONTAINER IN THE CORNER RIBBON COMPONENT TOP RIGHT ** //
		.heart {
			margin-top: 6px;
			display: inline-block;
			margin: 0 0.5rem;
			animation: bounceIn; /* referring directly to the animation's @keyframe declaration */
			animation-duration: 2s; /* don't forget to set a duration! */
		}
		// ** IMAGE OVERLAY AND DATA STYLING ** //
		.image-overlay {
			z-index: 99999;
			position: absolute;
			bottom: 50px;
			transition: 0.35s ease-in-out;
			opacity: 0%;
			background-color: rgba(0, 0, 0, 0.7);
			padding: 20px;
			-webkit-transition-duration: 0.3s;
			-moz-transition-duration: 0.3s;
			-o-transition-duration: 0.3s;
			transition-duration: 0.3s;
			a {
				position: relative;
				z-index: 4;
			}
			.overlay-text {
				color: #ffffff;
				font-size: 18px;
				margin-top: -20px;
			}
			.overlay-values {
				font-weight: bold;
				font-size: 18px;
			}
		}
		// ** THE IMAGE DISPLAYED FOR EACH NFT ** //
		.explore-card-image {
			object-fit: cover;
			position: absolute;
			width: 100%;
			height: 100%;
			transition: 0.3s ease-in-out;
			border-radius: 2px !important;
		}
	}
}
