.profile-edit-modal {
    .toast {
		box-shadow: rgba(68, 68, 68, 0.2) 0px 0px 12px;
		background-color: rgb(22, 22, 22);
		color: white;
		.toast-header {
			margin: 10px;
			border-radius: 0px;
			background-color: rgb(0, 0, 0);
			strong {
				color: white;
				font-weight: 900;
				font-size: 2em !important;
			}
			small {
				font-weight: 700;
				font-size: 13px;
			}
		}
    }
    // .text-majesti {
    //     color: rgb(203, 203, 203);
    //     transition: 0.5s ease-in-out;
    //       text-shadow: 
    //                  12px 12px 1px #949494, 
    //                  12px 12px 1px #3f3f3f; 
    //       &:hover {
    //         transition: 0.5s ease-in-out;
    //         text-shadow: 
    //         8px 1px 1px #808080,
    //         15px 1px 1px #555555;      
    //       }
    // }

    .button-nft {
            background-color: green;
			font-weight: 600;
			border: solid 1px green;
			color: rgb(255, 255, 255);
			&:hover {
				background-color: rgba(255, 255, 255, 0);
				transition: 0.25s ease-in-out;
				color: rgb(255, 255, 255);
			}
    }

    .button-auction {
        background-color: rgb(116, 24, 24);
        font-weight: 600;
        border: solid 1px rgb(105, 14, 14);
        color: rgb(255, 255, 255);
        &:hover {
            background-color: rgba(255, 255, 255, 0);
            transition: 0.25s ease-in-out;
            color: rgb(255, 255, 255);
        }

    }

    .modal-content {
        border: solid 1px rgb(167, 167, 167);
        border-radius: 2px;
        background-color: black !important;
        color: white;
    }
    .create-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}