// **************************************** //
// ** DISPLAY CONTAINER FOR PROFILE CARD ** //
// **************************************** //

.profile-card-container {
	// width: 20vw;
	.profile-item-card {
		box-shadow: rgba(127, 132, 138, 0.199) 0px 8px 24px;
		text-decoration: none !important;
		border: solid 0px;
		border-radius: 0px;
		background-color: black !important;

		.profile-card-image {
			box-shadow: rgba(116, 122, 128, 0.2) 0px 8px 24px;
			object-fit: cover;			
			width: 100vw;
			height: 29vh;
			border-radius: 2px;
		}
	}
}
