.profile-card {
    width: 100%;
    border-radius: 2px;
    img {
        padding: 1px;
        object-fit:cover;
        height: 200px;  
        transition: 0.25s ease-in-out;
        border-radius: 2px !important;

        &:hover {
            opacity: 50%;
            transition: 0.25s ease-in-out;
        }
    }

}
