.profile-card {
  border-radius: 2px;
  height: 100%;
  img {
    object-fit: cover;
    width: 1000px;
    transition: 0.25s ease-in-out;
    border-radius: 2px !important;

    &:hover {
      opacity: 50%;
      transition: 0.25s ease-in-out;
    }
  }
}
