.profile-edit-container {
    display: flex !important;
    justify-content: center !important;

    .modal-content {
        border: 3px solid rgb(48, 48, 48) !important; 

    }
    .toast {
		box-shadow: rgba(68, 68, 68, 0.2) 0px 0px 12px;
		background-color: rgb(33, 33, 33);
        padding: 10px;
		color: white;
		.toast-header {
			margin: 10px;
			border-radius: 0px;
			background-color: rgb(0, 0, 0);
			strong {
				color: white;
				font-weight: 900;
				font-size: 2em !important;
			}
			small {
				font-weight: 700;
				font-size: 13px;
			}
		}
    }
    .profile-edit-text {
        font-size: 1.6em !important;
        padding: 10px;
        
    }

    .profile-edit-submit {
            background-color: green;
			font-weight: 600;
			border: solid 1px green;
			color: rgb(255, 255, 255);
			&:hover {
				background-color: rgba(255, 255, 255, 0);
				transition: 0.25s ease-in-out;
				color: rgb(255, 255, 255);
			}
    }

    .cancel-back {
        background-color: rgb(116, 24, 24);
        font-weight: 600;
        border: solid 1px rgb(105, 14, 14);
        color: rgb(255, 255, 255);
        &:hover {
            background-color: rgba(255, 255, 255, 0);
            transition: 0.25s ease-in-out;
            color: rgb(255, 255, 255);
        }

    }

    .modal-content {
        border: solid 1px rgb(167, 167, 167);
        border-radius: 2px;
        background-color: black !important;
        color: white;
    }

    .profile-banner-image {
        border-radius: 4px;
    }
}