// **************************************** //
// ** DISPLAY CONTAINER FOR PROFILE CARD ** //
// **************************************** //

.profile-page-banner-container {
	// background-color: black !important;
	display: flex;
	align-items: center;
	justify-content: space-between !important;
	.profile-banner-image {
		object-fit: cover;
		min-height: 100% !important;
		min-width: auto !important;
		max-height: 200px !important;
		padding: 5px !important;
		box-shadow: rgba(159, 159, 159, 0.2) 0px 0px 20px;

	}
	.symbols-container {
		max-width: 100ch;
	}
	.profile-social-div {
		color: white;
		i {
			padding-right: 10px;
		}
	}
}
