// **************************************** //
// ** DISPLAY CONTAINER FOR PROFILE CARD BANNER ** //
// **************************************** //

.profile-page-banner-container {
	// background-color: black !important;
	display: flex;
	align-items: center;
	justify-content: flex-start !important;
	.profile-banner-image {
		display: flex;
		align-items: center;
		border-radius: 5px;
		object-fit: cover;
		min-height: 100% !important;
		max-height: 200px !important;
		min-width: 200px !important;
		max-width: 200px !important;

		padding: 3px !important;
		box-shadow: rgba(255, 255, 255, 0.132) 0px 0px 10px;
	}
	.bio-name {
		color: rgb(235, 235, 235) !important;
		font-weight: 600;
	}
	.bio-text {
		color: rgb(223, 223, 223) !important;
	}
	.symbols-container {
		max-width: 50ch;
		padding-top: 10px;
		padding-bottom: 20px;
	}
	.edit {
		color: goldenrod !important;
	}
	.profile-social-div {
		color: white;
		i {
			padding-right: 7px;
		}
		.website {
			font-size: 14px;
	        color:rgb(115, 114, 185);
		}
		.twitter {
			font-size: 14px;
			color:rgb(115, 114, 185);
		}
		.instagram {
			font-size: 14px;
			color:rgb(115, 114, 185);
		}
	}
}
