.auction-house-container {
    display: flex;
    justify-content: center;


.auction-cards {

.card-nft {

    .card-nft-image {
        width: 300px;
        height: 300px;
        object-fit:cover;
    }
}    
}

}