.detail-container {
    .nft-item-card {
        border: solid 1px #161616;
        border-radius: 6px;
    }


.explore-card-image {
    background-color: #161616;
    border: solid 2px #161616;
    border-radius: 0px;
}

}