.detailedview-container {


.thumbnail-image {
    display: flex;
    justify-content: center;
}

.nft-title-details {
    h1 {
        font-size: 60px;
    }
}

.nft-bids {
    .currency-value {
        font-size: 18px;
    }
}

.nft-records {
    color: #000!important;
    border: none!important;
    thead {
        th {
            border-width: 1px!important;
            border-color: black;
        }
    }
    tbody {
        border: none!important;
        td {
            border: none!important;
        }
    }
}

.total-value-summary {
    font-size: 25px;
}

@media only screen and (max-width: 767px) {
    .nft-title-details {
        .font-italic {
            display: block!important;
        }
    }
    .list-group {
        justify-content: center;
    }
    .nft-records {
        margin-top: 3em;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    padding: 0px 4% 0px 4% !important;
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    padding: 0px 4% 0px 4% !important;
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    padding: 0px 4% 0px 4% !important;
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    padding: 0px 3% 0px 3% !important;
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    padding: 0px 6% 0px 6% !important;
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    padding: 0px 7% 0px 7% !important;
}

@media only screen 
and (min-width : 1150px) {
    padding: 0px 7% 0px 7% !important;
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    padding: 0px 8% 0px 8% !important;
}

@media only screen 
and (min-width : 1450px) {
    padding: 0px 8% 0px 8% !important;
}

@media only screen 
and (min-width : 1650px) {
    padding: 0px 10% 0px 10% !important;
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    padding: 0px 15% 0px 15% !important;
}
}