.gradiant-background {
  background: linear-gradient(
    180deg,
    #040404 0%,
    rgb(74, 27, 8) 40%,
    rgb(199, 96, 103) 100%
  );
  padding-bottom: 100px;

  .nft-container {

    .nft-explore-rows {
      justify-content: center;
    }

    padding: 0px 0px 0px 0px !important;
    .explore-live-feed {
      position: relative;
      .nft-display {
        display: block;
        padding-bottom: 100%;
        border-radius: 2px;
        img {
          padding: 1px;
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.25s ease-in-out;
          border-radius: 2px !important;
          &:hover {
            opacity: 20%;
            transition: 0.25s ease-in-out;
          }
        }
      }
    }
  }
}