// ** EXPLORE PAGE STYLING ** //

// ** GRADIENT DIV CONTAINER FOR THE LANDING/EXPLORE PAGE ** //
.gradiant-background {
	padding-left: 10%;
	padding-right: 10%;
	//** CURRENTLY BLACK, BASIC STYLING FOR A SMOOTH VERTICAL GRADIENT BG **//
	// background: linear-gradient(180deg,rgb(0, 0, 0) 0%, rgb(31, 6, 6) 40%, rgb(59, 41, 141) 100%);
	background-color: #161616 !important;
	padding-bottom: 10%;
	// ** MAIN CONTAINER FOR THE ENTIRE COMPONENT ** //
	.nft-container {
		// ** 1/2 ROW - NFT NAVBAR WITH FEATURED TEXT AND SORT DROPDOWN ** //
		.featured-nft-nav {
			display: flex;
			align-items: flex-end !important;
			// ** FEATURED COL AND TEXT ** //
			.featured-text-col {
				.featured-text {
					font-size: 1.95em;
				}
			}
			// ** SORT BUTTON COL AND BUTTON STYLING ** //
			.sort-button-col {
				.sort-button {
					font-size: 1.5em !important;
					padding: 2px 12px 2px 12px;
					background-color: #ffffff !important;
					color: black !important;
					border-color: rgb(45, 45, 45) !important;
				}
			}
		}
		// ** 2/2 MAIN NFT EXPLORE ROW ** //
		.nft-explore-rows {
			padding: 0px 0px 0px 0px !important;
			// ** COL THAT MAPS AND RENDERS FROM DATABASE ** //
			.explore-live-feed {
				padding: 0px 0px 0px 0px !important;
			}
		}

		.pagination-explore {
			justify-content: center !important;
		}
		// ** MEDIA QUERIES FOR SIZING ENTIRE PAGE AND MARGINS OVER MULTIPLE DEVICES (WIP) ** //
		// @media only screen and (min-width: 320px) {
		// 	padding: 0px 4% 0px 4% !important;
		// }

		// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
		// 	padding: 0px 6% 0px 6% !important;
		// }

		// @media only screen and (min-width: 1150px) {
		// 	padding: 0px 2% 0px 2% !important;
		// }

		// @media only screen and (min-width: 1824px) {
		// 	padding: 0px 3% 0px 3% !important;
		// }
	}
}
