.profile-container {
    padding: 0px;
    .profile-nft-nav {
        border-color: #222222;
        a.nav-link.active {
            
            font-size: 1.25em;
            border-radius: 0px;
            background-color: #222222;
            border-color: #222222;
            color: white;
            &:hover {
                border-color: transparent;
                background-color: rgb(141, 141, 141);
            }
        }
        a.nav-link {
            font-size: 1.25em;
            border-radius: 0px;
            color: white;
            &:hover {
                border-color: transparent;
                background-color: rgba(151, 151, 151, 0.308);
            }
        }
    }
    .profile-nfts-grid {
        // box-shadow: rgba(255, 255, 255, 0.132) 0px 0px 10px;
        padding-bottom: 15px;
        margin-bottom: 20px;
        background-color: #222222;

    }

}